#informatica{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; 
    padding-bottom: 120px;
}


#informatica .titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#informatica .titulo h2{
    font-size: 3.5rem;
    font-family: 'mitoafro';
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 100px;
    padding: 0px 10px;
}

#informatica .titulo  hr{width: 75vw;border: solid 1px #C3C63B;}

.icones{
    margin-top: 100px;
}

#informatica .icones .icone{
    padding: 20px 30px;
    text-align: center;
}

#informatica .icones .icone h4{
    font-size: 1rem;
    color: #000;	
    margin-bottom: 30px;
}

#informatica .icones .icone i {
    color: #c3c63b;	
    font-size: 50px;
    margin-bottom: 10px;
}

@media(min-width: 790px) {

    #informatica .titulo  hr{width: 20vw;border: solid 1px #C3C63B;}

    .icones{
        display: flex;
        margin-top: 50px;
    }

    #informatica{
        height: 100vh; 
    }

    #informatica .titulo{
        margin-bottom: 0px;
    }
    

    #informatica .icones .icone i {
        color: #c3c63b;	
        font-size: 70px;
        padding: 14px 11px;
        margin-bottom: 10px;
    }

    #informatica .titulo h2{
        margin-top: 32px;
    }
    
}